<!doctype html>
<html lang="en">

<head>
    <title>Majesty's Website</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Solomon's personal website." />
    <meta name="keywords" content="online resume, Developer Majesty, Personal website, Majesty,  " />
    <meta name="developer" content="Developer Majesty">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- FAV AND ICONS   -->
    <link rel="shortcut icon" href="assets/images/favicon.png">
    <link rel="shortcut icon" href="assets/images/favicon.png">
    <link rel="shortcut icon" sizes="72x72" href="assets/images/favicon.png">
    <link rel="shortcut icon" sizes="114x114" href="assets/images/favicon.png">

    <!-- Google Font-->
    <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="assets/icons/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/plugins/css/bootstrap.min.css">
    <!-- Animate CSS-->
    <link rel="stylesheet" href="assets/plugins/css/animate.css">
    <!-- Owl Carousel CSS-->
    <link rel="stylesheet" href="assets/plugins/css/owl.css">
    <!-- Fancybox-->
    <link rel="stylesheet" href="assets/plugins/css/jquery.fancybox.min.css">

    <!-- Custom CSS-->
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

    <!-- Colors -->
    <link rel="alternate stylesheet" href="assets/css/colors/blue.css" title="blue">
    <link rel="stylesheet" href="assets/css/colors/defauld.css" title="defauld">
    <link rel="alternate stylesheet" href="assets/css/colors/green.css" title="green">
    <link rel="alternate stylesheet" href="assets/css/colors/blue-munsell.css" title="blue-munsell">
    <link rel="alternate stylesheet" href="assets/css/colors/orange.css" title="orange">
    <link rel="alternate stylesheet" href="assets/css/colors/purple.css" title="purple">
    <link rel="alternate stylesheet" href="assets/css/colors/slate.css" title="slate">
    <link rel="alternate stylesheet" href="assets/css/colors/yellow.css" title="yellow">

</head>

<body class="white-vertion black-bg">

    <!-- Start Loader -->
    <div class="section-loader">
        <div class="loader">
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- End Loader -->

    <!--
        ===================
           NAVIGATION
        ===================
        -->
    <header class="black-bg mh-header mh-fixed-nav nav-scroll mh-xs-mobile-nav" id="mh-header">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-expand-lg mh-nav nav-btn">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#mh-home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#mh-about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#mh-skills">Skills</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#mh-experience">Experiences</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#mh-contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <!--
        ===================
           Home
        ===================
        -->
    <section class="mh-home image-bg home-2-img" id="mh-home">
        <div class="img-foverlay img-color-overlay">
            <div class="container">
                <div class="row section-separator xs-column-reverse vertical-middle-content home-padding">
                    <div class="col-sm-6">
                        <div class="mh-header-info">
                            <div class="mh-promo wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
                                <span>Hello I'm</span>
                            </div>

                            <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">Solomon Aidoo Jnr
                            </h2>
                            <h4 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">Software Engineer
                            </h4>

                            <ul>
                                <li class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s"><i
                                        class="fa fa-envelope"></i><a href="mailto:">aidoojuniorsolomon@gmail.com</a>
                                </li>
                                <li class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s"><i
                                        class="fa fa-phone"></i><a href="callto:">+233 54 417 4142</a></li>
                                <li class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s"><i
                                        class="fa fa-map-marker"></i>
                                    <address>Accra, Ghana</address>
                                </li>
                            </ul>

                            <ul class="social-icon wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                                <li><a href="https://web.facebook.com/DeveloperMajesty" target="_blank"><i
                                            class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/onesolojnr" target="_blank"><i
                                            class="fa fa-twitter"></i></a></li>
                                <li><a href="https://github.com/majestyjnr" target="_blank"><i
                                            class="fa fa-github"></i></a></li>
                                <li><a href="https://instagram.com/majesty.jnr" target="_blank"><i
                                            class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="hero-img wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">
                            <div class="img-border">
                                <img src="assets/images/solo.jpeg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--
        ===================
           ABOUT
        ===================
        -->
    <section class="mh-about" id="mh-about">
        <div class="container">
            <div class="row section-separator">
                <div class="col-sm-12 col-md-6">
                    <div class="mh-about-img shadow-2 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
                        <img src="assets/images/ab-img.png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="mh-about-inner">
                        <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">About Me</h2>
                        <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">Hello, I’m Solomon Aidoo
                            Junior, a software engineer based in Accra, Ghana.
                            <br>
                            <br>I am a huge football fan <i class="fa fa-heart red-color"></i>
                            <br>
                            <br>
                            Naturally, I am highly addicted to programming.
                            <br>
                            <br>
                            I have rich experience in <b>Mobile App Development, Web App Development, and Desktop App
                                Development. </b>
                            I'm technically proficient in the following...
                        </p>
                        <div class="mh-about-tag wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                            <ul>
                                <li><span>PHP</span></li>
                                <li><span>Node JS</span></li>
                                <li><span>React</span></li>
                                <li><span>HTML</span></li>
                                <li><span>CSS</span></li>
                                <li><span>Flutter</span></li>
                                <li><span>React Native</span></li>
                                <li><span>Electron</span></li>
                                <li><span>VB.NET</span></li>
                                <li><span>Javascript</span></li>
                                <li><span>Python</span></li>
                                <li><span>Java</span></li>
                                <li><span>C#</span></li>
                                <li><span>C++</span></li>
                                <li><span>Erlang</span></li>
                            </ul>
                        </div>
                        <!-- <a href="assets/docs/SOLOMON AIDOO JUNIOR - The Resume.docx" class="btn btn-fill wow fadeInUp"
                            data-wow-duration="0.8s" data-wow-delay="0.4s" download>Downlaod My Resume <i
                                class="fa fa-download"></i></a> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--
        ===================
           SERVICE
        ===================
        -->
    <section class="mh-service">
        <div class="container">
            <div class="row section-separator">
                <div class="col-sm-12 text-center section-title wow fadeInUp" data-wow-duration="0.8s"
                    data-wow-delay="0.2s">
                    <h2>What I do</h2>
                </div>
                <div class="col-sm-4">
                    <div class="mh-service-item shadow-1 dark-bg wow fadeInUp" data-wow-duration="0.8s"
                        data-wow-delay="0.3s">
                        <i class="fa fa-mobile purple-color"></i>
                        <h3>Mobile App Development</h3>
                        <p>
                            I develop both Android and IOS apps with beautiful user interfaces.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="mh-service-item shadow-1 dark-bg wow fadeInUp" data-wow-duration="0.8s"
                        data-wow-delay="0.5s">
                        <i class="fa fa-code iron-color"></i>
                        <h3>Web App Development</h3>
                        <p>
                            I develop Websites and Web Applications with beautiful user interfaces and functionalities.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="mh-service-item shadow-1 dark-bg wow fadeInUp" data-wow-duration="0.8s"
                        data-wow-delay="0.7s">
                        <i class="fa fa-desktop sky-color"></i>
                        <h3>Desktop App Development</h3>
                        <p>
                            I develop Windows Desktop Applications with modern user interfaces and design.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--
        ===================
          MY PROJECTS
        ===================
        -->
    <section class="mh-featured-project image-bg featured-img-one">
        <div class="img-color-overlay">
            <div class="container">
                <div class="row section-separator">
                    <div class="section-title col-sm-12">
                        <h3>My Projects</h3>
                    </div>
                    <div class="col-sm-12">
                        <div class="mh-single-project-slide-by-side row">
                            <!-- Project Items -->
                            <div class="col-sm-12 mh-featured-item">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="mh-featured-project-img shadow-2 wow fadeInUp"
                                            data-wow-duration="0.8s" data-wow-delay="0.2s">
                                            <img src="assets/images/architect.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="mh-featured-project-content">
                                            <h4 class="project-category wow fadeInUp" data-wow-duration="0.8s"
                                                data-wow-delay="0.4s">Web Application</h4>
                                            <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                                                Architect Messenger</h2>
                                            <span class="wow fadeInUp" data-wow-duration="0.8s"
                                                data-wow-delay="0.6s">Development Complete</span>
                                            <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">An
                                                SMS App used to send messages/notifications to bulk clients.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Project Items -->
                            <div class="col-sm-12 mh-featured-item">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="mh-featured-project-img shadow-2 wow fadeInUp"
                                            data-wow-duration="0.8s" data-wow-delay="0.2s">
                                            <img src="assets/images/mymtn.png" alt="" style="width: 400px;"
                                                class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="mh-featured-project-content">
                                            <h4 class="project-category wow fadeInUp" data-wow-duration="0.8s"
                                                data-wow-delay="0.4s">Mobile Application</h4>
                                            <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                                                MyMTN App Clone
                                            </h2>
                                            <span class="wow fadeInUp" data-wow-duration="0.8s"
                                                data-wow-delay="0.6s">Development Complete</span>
                                            <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">This
                                                is the clone of the My MTN APP.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Project Items -->
                            <div class="col-sm-12 mh-featured-item">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="mh-featured-project-img shadow-2 wow fadeInUp"
                                            data-wow-duration="0.8s" data-wow-delay="0.2s">
                                            <img src="assets/images/universe.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="mh-featured-project-content">
                                            <h4 class="project-category wow fadeInUp" data-wow-duration="0.8s"
                                                data-wow-delay="0.4s">Web & Mobile Application</h4>
                                            <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                                                Universe
                                            </h2>
                                            <span class="wow fadeInUp" data-wow-duration="0.8s"
                                                data-wow-delay="0.6s">Development in progress</span>
                                            <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">This
                                                is an online platform that connects users all around the globe to each
                                                other. It has <b>an online school and shop, movie and music streaming
                                                    functionalities, news portal, job portal</b> and many more exciting
                                                functionalities.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Project Items -->
                            <!-- Project Items -->
                            <div class="col-sm-12 mh-featured-item">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="mh-featured-project-img shadow-2 wow fadeInUp"
                                            data-wow-duration="0.8s" data-wow-delay="0.2s">
                                            <img src="assets/images/covid-app.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="mh-featured-project-content">
                                            <h4 class="project-category wow fadeInUp" data-wow-duration="0.8s"
                                                data-wow-delay="0.4s">Web Application</h4>
                                            <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                                                Covid Educator</h2>
                                            <span class="wow fadeInUp" data-wow-duration="0.8s"
                                                data-wow-delay="0.6s">Development Complete</span>
                                            <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">Covid
                                                Educator is a web application that educates users about COVID-19.
                                                It educates about the causes, effects and prevention of COVID-19.
                                                Certicates are awarded upon completion of the course.
                                                It is free to use and was developed under the MIT license.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Project Items -->
                            <div class="col-sm-12 mh-featured-item">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="mh-featured-project-img shadow-2 wow fadeInUp"
                                            data-wow-duration="0.8s" data-wow-delay="0.2s">
                                            <img src="assets/images/tts.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="mh-featured-project-content">
                                            <h4 class="project-category wow fadeInUp" data-wow-duration="0.8s"
                                                data-wow-delay="0.4s">Web Application</h4>
                                            <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                                                Text-To-Speech App</h2>
                                            <span class="wow fadeInUp" data-wow-duration="0.8s"
                                                data-wow-delay="0.6s">Development Complete</span>
                                            <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">This
                                                is a web app that reads out any kind of text that is fed into it. It is
                                                highly beneficial to people with special needs. It is free to use and
                                                was developed under the MIT license.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Project Items -->
                            <!-- Project Items -->
                            <div class="col-sm-12 mh-featured-item">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="mh-featured-project-img shadow-2 wow fadeInUp"
                                            data-wow-duration="0.8s" data-wow-delay="0.2s">
                                            <img src="assets/images/pass.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="mh-featured-project-content">
                                            <h4 class="project-category wow fadeInUp" data-wow-duration="0.8s"
                                                data-wow-delay="0.4s">Web Application</h4>
                                            <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                                                Password Generator</h2>
                                            <span class="wow fadeInUp" data-wow-duration="0.8s"
                                                data-wow-delay="0.6s">Development Complete</span>
                                            <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">This
                                                is a web app that auto generates extremely strong passwords for users.
                                                It as easy to use and has a nice user interface as well.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Project Items -->
                            <!-- Project Items -->
                            <div class="col-sm-12 mh-featured-item">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="mh-featured-project-img shadow-2 wow fadeInUp"
                                            data-wow-duration="0.8s" data-wow-delay="0.2s">
                                            <img src="assets/images/gpa.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="mh-featured-project-content">
                                            <h4 class="project-category wow fadeInUp" data-wow-duration="0.8s"
                                                data-wow-delay="0.4s">Desktop Application</h4>
                                            <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                                                UEW GPA Calculator</h2>
                                            <span class="wow fadeInUp" data-wow-duration="0.8s"
                                                data-wow-delay="0.6s">Development Complete</span>
                                            <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">This
                                                is a desktop app that enables students to calculate to GPA's and CGPA's
                                                with ease and comfy.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Project Items -->

                            <div class="col-sm-12 mh-featured-item">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="mh-featured-project-img shadow-2 wow fadeInUp"
                                            data-wow-duration="0.8s" data-wow-delay="0.2s">
                                            <img src="assets/images/nova.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="mh-featured-project-content">
                                            <h4 class="project-category wow fadeInUp" data-wow-duration="0.8s"
                                                data-wow-delay="0.4s">Web & Mobile Application</h4>
                                            <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">Nova
                                                Messaging App
                                            </h2>
                                            <span class="wow fadeInUp" data-wow-duration="0.8s"
                                                data-wow-delay="0.6s">Development in progress</span>
                                            <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">Nova
                                                is a clean and modern messaging application.
                                                It has both video and audio call functionalities.
                                                It enables users to share files and have a smooth communication in real
                                                time.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Project Items -->
                            <div class="col-sm-12 mh-featured-item">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="mh-featured-project-img shadow-2 wow fadeInUp"
                                            data-wow-duration="0.8s" data-wow-delay="0.2s">
                                            <img src="assets/images/cinegold.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="mh-featured-project-content">
                                            <h4 class="project-category wow fadeInUp" data-wow-duration="0.8s"
                                                data-wow-delay="0.4s">Web & Mobile Application</h4>
                                            <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                                                CineGold
                                            </h2>
                                            <span class="wow fadeInUp" data-wow-duration="0.8s"
                                                data-wow-delay="0.6s">Development in progress</span>
                                            <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">I
                                                teamed up with my colleague, Matthew Afeawo on this project.
                                                This is an online movie streaming platform with lots of features. Users
                                                can subscribe to any kind of package they want when they sign up on this
                                                platform. The platform is the first of its kind in Ghana. In short it is
                                                the hub of all Ghanaian movies.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 mh-featured-item">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="mh-featured-project-img shadow-2 wow fadeInUp"
                                            data-wow-duration="0.8s" data-wow-delay="0.2s">
                                            <img src="assets/images/universe-m.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="mh-featured-project-content">
                                            <h4 class="project-category wow fadeInUp" data-wow-duration="0.8s"
                                                data-wow-delay="0.4s">Mobile Application</h4>
                                            <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                                                Universe
                                            </h2>
                                            <span class="wow fadeInUp" data-wow-duration="0.8s"
                                                data-wow-delay="0.6s">Development in progress</span>
                                            <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">This
                                                is the mobile version of the Universe App. It comes in both Android and
                                                IOS versions. It also has all the exciting features that is possesed by
                                                the Universe Web App version.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Project Items -->
                            <div class="col-sm-12 mh-featured-item">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="mh-featured-project-img shadow-2 wow fadeInUp"
                                            data-wow-duration="0.8s" data-wow-delay="0.2s">
                                            <img src="assets/images/note.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="mh-featured-project-content">
                                            <h4 class="project-category wow fadeInUp" data-wow-duration="0.8s"
                                                data-wow-delay="0.4s">Mobile Application</h4>
                                            <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                                                Notebook Pro
                                            </h2>
                                            <span class="wow fadeInUp" data-wow-duration="0.8s"
                                                data-wow-delay="0.6s">Development Complete</span>
                                            <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">This
                                                is a mobile application that enables its users to save notes in a
                                                secured manner. It comes with a fingerprint and password security
                                                feature that prevents unauthorized people from accessing your notes. You
                                                can backup your notes in your google drive as well as export your note
                                                into any format you prefer, thus PDF, docx, cvs, txt etc.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End: .row -->
            </div>
        </div>
    </section>

    <!--
        ===================
           SKILLS
        ===================
        -->
    <section class="mh-skills" id="mh-skills">
        <div class="home-v-img">
            <div class="container">
                <div class="row section-separator">
                    <div class="section-title text-center col-sm-12">
                        <!--<h2>Skills</h2>-->
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="mh-skills-inner">
                            <div class="mh-professional-skill wow fadeInUp" data-wow-duration="0.8s"
                                data-wow-delay="0.3s">
                                <h3>Technical Skills</h3>
                                <div class="each-skills">
                                    <div class="candidatos">
                                        <div class="parcial">
                                            <div class="info">
                                                <div class="nome">Javascript</div>
                                                <div class="percentagem-num">80%</div>
                                            </div>
                                            <div class="progressBar">
                                                <div class="percentagem" style="width: 80%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="candidatos">
                                        <div class="parcial">
                                            <div class="info">
                                                <div class="nome">Java</div>
                                                <div class="percentagem-num">60%</div>
                                            </div>
                                            <div class="progressBar">
                                                <div class="percentagem" style="width: 60%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="candidatos">
                                        <div class="parcial">
                                            <div class="info">
                                                <div class="nome">C++</div>
                                                <div class="percentagem-num">85%</div>
                                            </div>
                                            <div class="progressBar">
                                                <div class="percentagem" style="width: 85%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="candidatos">
                                        <div class="parcial">
                                            <div class="info">
                                                <div class="nome">C#</div>
                                                <div class="percentagem-num">60%</div>
                                            </div>
                                            <div class="progressBar">
                                                <div class="percentagem" style="width: 60%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="candidatos">
                                        <div class="parcial">
                                            <div class="info">
                                                <div class="nome">Python</div>
                                                <div class="percentagem-num">70%</div>
                                            </div>
                                            <div class="progressBar">
                                                <div class="percentagem" style="width: 70%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="candidatos">
                                        <div class="parcial">
                                            <div class="info">
                                                <div class="nome">PHP</div>
                                                <div class="percentagem-num">95%</div>
                                            </div>
                                            <div class="progressBar">
                                                <div class="percentagem" style="width: 95%;"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="candidatos">
                                        <div class="parcial">
                                            <div class="info">
                                                <div class="nome">Node JS</div>
                                                <div class="percentagem-num">80%</div>
                                            </div>
                                            <div class="progressBar">
                                                <div class="percentagem" style="width: 80%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="candidatos">
                                        <div class="parcial">
                                            <div class="info">
                                                <div class="nome">React JS</div>
                                                <div class="percentagem-num">75%</div>
                                            </div>
                                            <div class="progressBar">
                                                <div class="percentagem" style="width: 75%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="candidatos">
                                        <div class="parcial">
                                            <div class="info">
                                                <div class="nome">Flutter</div>
                                                <div class="percentagem-num">80%</div>
                                            </div>
                                            <div class="progressBar">
                                                <div class="percentagem" style="width: 80%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="candidatos">
                                        <div class="parcial">
                                            <div class="info">
                                                <div class="nome">React Native</div>
                                                <div class="percentagem-num">75%</div>
                                            </div>
                                            <div class="progressBar">
                                                <div class="percentagem" style="width: 75%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="mh-professional-skills wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                            <h3>Professional Skills</h3>
                            <ul class="mh-professional-progress">
                                <li>
                                    <div class="mh-progress mh-progress-circle" data-progress="95"></div>
                                    <div class="pr-skill-name">Communication</div>
                                </li>
                                <li>
                                    <div class="mh-progress mh-progress-circle" data-progress="90"></div>
                                    <div class="pr-skill-name">Team Work</div>
                                </li>
                                <li>
                                    <div class="mh-progress mh-progress-circle" data-progress="90"></div>
                                    <div class="pr-skill-name">Project Management</div>
                                </li>
                                <li>
                                    <div class="mh-progress mh-progress-circle" data-progress="90"></div>
                                    <div class="pr-skill-name">Creativity</div>
                                </li>
                                <li>
                                    <div class="mh-progress mh-progress-circle" data-progress="100"></div>
                                    <div class="pr-skill-name">Results-Oriented</div>
                                </li>
                                <li>
                                    <div class="mh-progress mh-progress-circle" data-progress="100"></div>
                                    <div class="pr-skill-name">Punctuality</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--
        ===================
           EXPERIENCES
        ===================
        -->
    <section class="mh-experince image-bg featured-img-one" id="mh-experience">
        <div class="img-color-overlay">
            <div class="container">
                <div class="row section-separator">
                    <div class="col-sm-12 col-md-6">
                        <div class="mh-education">
                            <h3 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">Education</h3>
                            <div class="mh-education-deatils">
                                <!-- Education Institutes-->
                                <div class="mh-education-item dark-bg wow fadeInUp" data-wow-duration="0.8s"
                                    data-wow-delay="0.3s">
                                    <h4>BSc ICT At <a href="#">University of Education, Winneba</a></h4>
                                    <div class="mh-eduyear">2017-To Date</div>
                                    <p>I am currently pursuing a Bachelor of Science degree in Information and
                                        Communications Technology at UEW. UEW is instilling in me, the spirit of
                                        professionalism and service.</p>
                                </div>
                                <!-- Education Institutes-->
                                <div class="mh-education-item dark-bg wow fadeInUp" data-wow-duration="0.8s"
                                    data-wow-delay="0.5s">
                                    <h4>Senior High School At <a href="#">Wesley Grammar School</a></h4>
                                    <div class="mh-eduyear">2013-2016</div>
                                    <p>I attended high school at Wesley Grammar School which is located at Dansoman. The
                                        school instilled in me, the spirit of discipline, love, truth and service.</p>
                                </div>
                                <!-- Education Institutes-->
                                <div class="mh-education-item dark-bg wow fadeInUp" data-wow-duration="0.8s"
                                    data-wow-delay="0.6s">
                                    <h4>Basic Education At <a href="#">Believers International School</a></h4>
                                    <div class="mh-eduyear">1999-2013</div>
                                    <p>I had my basic education at Believers International from Basic four through to
                                        JHS 3. I owe my english speaking ability and intellect to this particular
                                        school. It's one of the best channels of academia that every kid has to
                                        experience.</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="mh-work">
                            <h3>Work Experience</h3>
                            <div class="mh-experience-deatils">
                                <!-- Education Institutes-->
                                <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s"
                                    data-wow-delay="0.4s">
                                    <h4><a href="#">Maverick Edifice Limited</a></h4>
                                    <div class="mh-eduyear">2020-to date</div>
                                    <span>Responsibility :</span>
                                    <ul class="work-responsibility">
                                        <li><i class="fa fa-circle"></i>Software Developer</li>
                                        <li><i class="fa fa-circle"></i>Systems Analyst</li>
                                        <li><i class="fa fa-circle"></i>Software Tester</li>
                                    </ul>
                                </div>
                                <!-- Education Institutes-->
                                <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s"
                                    data-wow-delay="0.6s">
                                    <h4><a href="#">Early Foundation Publications</a></h4>
                                    <div class="mh-eduyear">2017-To date</div>
                                    <span>Responsibility :</span>
                                    <ul class="work-responsibility">
                                        <li><i class="fa fa-circle"></i>Database Adminstrator</li>
                                        <li><i class="fa fa-circle"></i>Researcher</li>
                                    </ul>
                                </div>
                                <!-- Education Institutes-->
                                <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s"
                                    data-wow-delay="0.7s">
                                    <h4><a href="#">The Lord's Foundation Academy</a></h4>
                                    <div class="mh-eduyear">2016-2017</div>
                                    <span>Responsibility :</span>
                                    <ul class="work-responsibility">
                                        <li><i class="fa fa-circle"></i>Teacher</li>
                                        <!-- <li><i class="fa fa-circle"></i>Project Management</li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--
        ===================
           QUATES
        ===================
        -->
    <section class="mh-quates image-bg home-2-img">
        <div class="img-color-overlay">
            <div class="container">
                <div class="row section-separator">
                    <div class="each-quates col-sm-12 col-md-6">
                        <h3 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">Interested in my work?
                            <br> Want to team up with me?
                        </h3>
                        <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">Just hit me up and let's
                            get talking. Can't wait to hear from you.</p>
                        <a href="#mh-contact" class="btn btn-fill wow fadeInUp" data-wow-duration="0.8s"
                            data-wow-delay="0.5s">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--
        ===================
           FOOTER 3
        ===================
        -->
    <footer class="mh-footer mh-footer-3" id="mh-contact">
        <div class="container-fluid">
            <div class="row section-separator">
                <div class="col-sm-12 section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                    <h3>Contact Me</h3>
                </div>
                <div class="map-image image-bg col-sm-12">
                    <div class="container mt-30">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 mh-footer-address">
                                <div class="col-sm-12 xs-no-padding">
                                    <div class="mh-address-footer-item dark-bg shadow-1 media wow fadeInUp"
                                        data-wow-duration="0.8s" data-wow-delay="0.2s">
                                        <div class="each-icon">
                                            <i class="fa fa-location-arrow"></i>
                                        </div>
                                        <div class="each-info media-body">
                                            <h4>Address</h4>
                                            <address>
                                                Broadcasting, Accra. <br>
                                                Ghana.
                                            </address>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 xs-no-padding">
                                    <div class="mh-address-footer-item media dark-bg shadow-1 wow fadeInUp"
                                        data-wow-duration="0.8s" data-wow-delay="0.4s">
                                        <div class="each-icon">
                                            <i class="fa fa-envelope-o"></i>
                                        </div>
                                        <div class="each-info media-body">
                                            <h4>Email</h4>
                                            <a
                                                href="mailto:aidoojuniorsolomon@gmail.com">aidoojuniorsolomon@gmail.com</a><br>
                                            <a href="mailto:developermajesty@gmail.com">developermajesty@gmail.com</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 xs-no-padding">
                                    <div class="mh-address-footer-item media dark-bg shadow-1 wow fadeInUp"
                                        data-wow-duration="0.8s" data-wow-delay="0.6s">
                                        <div class="each-icon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <div class="each-info media-body">
                                            <h4>Phone</h4>
                                            <a href="callto:+233 54 417 4142">+233 54 417 4142</a><br>
                                            <a href="callto:+233 57 432 1997">+233 57 432 1997</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 mh-copyright wow fadeInUp" data-wow-duration="0.8s"
                                data-wow-delay="0.2s">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="text-left text-xs-center">
                                            <p><a href="/">Developer Majesty</a></p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <ul class="social-icon">
                                            <li><a href="https://web.facebook.com/DeveloperMajesty" target="_blank"><i
                                                        class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://twitter.com/onesolojnr" target="_blank"><i
                                                        class="fa fa-twitter"></i></a></li>
                                            <li><a href="https://github.com/majestyjnr" target="_blank"><i
                                                        class="fa fa-github"></i></a></li>
                                            <li><a href="https://instagram.com/majesty.jnr" target="_blank"><i
                                                        class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--
    ==============
    * JS Files *
    ==============
    -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <!-- jQuery -->
    <script src="assets/plugins/js/jquery.min.js"></script>
    <!-- popper -->
    <script src="assets/plugins/js/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="assets/plugins/js/bootstrap.min.js"></script>
    <!-- owl carousel -->
    <script src="assets/plugins/js/owl.carousel.js"></script>
    <!-- validator -->
    <script src="assets/plugins/js/validator.min.js"></script>
    <!-- wow -->
    <script src="assets/plugins/js/wow.min.js"></script>
    <!-- mixin js-->
    <script src="assets/plugins/js/jquery.mixitup.min.js"></script>
    <!-- circle progress-->
    <script src="assets/plugins/js/circle-progress.js"></script>
    <!-- jquery nav -->
    <script src="assets/plugins/js/jquery.nav.js"></script>
    <!-- Fancybox js-->
    <script src="assets/plugins/js/jquery.fancybox.min.js"></script>
    <!-- isotope js-->
    <script src="assets/plugins/js/isotope.pkgd.js"></script>
    <script src="assets/plugins/js/packery-mode.pkgd.js"></script>
    <!-- Custom Scripts-->
    <script src="assets/js/map-init.js"></script>
    <script src="assets/js/custom-scripts.js"></script>

</body>

</html>